*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space: normal;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    color: rgb(7, 7, 7);
    line-height: 1.5;
    padding: 20px;
}
.cont{
    max-width: 1000px;
    margin: 0 auto;
}
header{
    text-align: center;
    padding: 2em 0;
}
h1{
    font-size: 2,5rem;
    font-weight: bold;
    color:black;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

p{
    color:#666;
}
/* about section*/
.about{
    display: flex;
    flex-direction: row;
    gap:2rem;
    margin: 2rem 0;
}
.about img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.about-cont{flex: 1;

}
.about h2{
    font-size:2rem;
    color: #333;
}
.skills{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    grid-gap:1rem;
    margin-top: 2rem;
}
.skill-item{
    background-color: #fff;
    padding: 1rem;
    border-radius:10px;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;

}
.skill-item:hover{
    transform: scale(1.05);
}
.project{
    margin-top: 2rem;
}
.project-item{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.project-item:hover{
    transform: scale(1.02);
}
.project-item h3{
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 0.5rem;

}
footer{
    text-align: center;
    padding: 0.75rem 1.5rem;
    margin-top: 2rem;
    color: #666;
}
.button{
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin: 4px;
    

}
