*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: slategray;
    color: white;
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;

}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: white;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 20px;
    border-radius: 5px;
}.container h1{
    font-weight: 500;
    font-size: 45px;

}
.container h1 span{
    color: #43eaab;
    border-bottom: 4px solid #43eaab;
    padding-bottom: 7px;
}
.display img{
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;

}
.container button img{
    margin-right: 10px;
}
.container button{
    border: 0;
    margin: 0;
    background: #43eaab;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}